[submodule "vla/openpi"]
	path = vla/openpi
	url = https://github.com/richardSHkim/openpi.git
	branch = main
[submodule "vla/Isaac-GR00T"]
	path = vla/Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
	branch = main
[submodule "simulation/leisaac"]
	path = simulation/leisaac
	url = https://github.com/richardSHkim/leisaac.git
	branch = main
[submodule "simulation/IsaacLab"]
	path = simulation/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "simulation/piper_isaac_sim"]
	path = simulation/piper_isaac_sim
	url = https://github.com/richardSHkim/piper_isaac_sim.git
